*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#distance {
	left:25%;

}

.face-btn {
	   
	height: 100%;
 	width: 100%;
}

#facetrade{
	opacity: 0;
}

#map {
	height: 90%;
	width: 100%;
	z-index: 0;	
	opacity: 0;
}

.table{
	display: block;
    font-size: 1.5em;
    letter-spacing: 2px;/*字距*/
    text-align: center;
    line-height: 1.7em;
    color:  #000000;
    width: 90%;
    margin: 1em auto 2.5em auto;
}

.read-more3 {
    display: inline-block;
    color: #272727 ;
    padding: 5px 15px;
    border: 1px solid #272727  ;
    text-decoration: none;
    transition: all 0.2s ease-out;

}

.read-more3:hover {
    background-color:   #FFE153;
    border-color:   #FFE153;
    color: #fff;
    transition: all 0.2s ease-in;
    text-decoration:none;
}